<!DOCTYPE html>
<html lang="en" >
<head>
<link rel="stylesheet" href="./flight_creator_style.css">

  <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.5.0/dist/vuetify.min.js'></script>
<script src="/socket.io/socket.io.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->

<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">  
  <tr>
	  <td colspan="12">
		<button class="custom-btn btn-5" @click="gotoFlights"><span>Flights</span></button>
	  </td>
  </tr>
  <!--
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
            </td>

            <td>
              Bologna<br> BLQ<br> Leaving at: 
            </td>
          </tr>
        </table>
      </td>
    </tr>
-->

<!--
    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              Bologna<br> BLQ<br> Leaving at:
            </td>

            <td>
              Munich<br> MUN<br> Arrival time:
            </td>
          </tr>
        </table>
      </td>
    </tr>
-->

	<!--
    <tr class="heading">
      <td colspan="3">Payment Method</td>
      <td>Check #</td>
    </tr>

    <tr class="details">
      <td colspan="3">Check</td>
      <td>1000</td>
    </tr>
	-->

    <tr class="heading">
      <td>City departure</td>
      <td>Airport departure</td>
      <td>Time departure</td>
      <td>City arrival</td>
      <td>Airport arrival</td>
      <td>Time arrival</td>
    </tr>
	
    <tr class="item" v-for="item in items">
      <td><input v-model="item.city_departure"/></td>
      <td><input v-model="item.airport_departure"/></td>
      <td><input type="datetime-local" v-model="item.time_departure"/></td>
      <td><input v-model="item.city_arrival"/></td>
      <td><input v-model="item.airport_arrival"/></td>
      <td><input type="datetime-local" v-model="item.time_arrival"/></td>
    </tr>
	


    <tr>
      <td colspan="2">
        <button class="btn-add-row" @click="addRow">Add row</button>
        <button class="btn-add-row" @click="removeRow">Remove row</button>
      </td>
    </tr>
	
	<tr>
      <td colspan="2">
        <button @click="saveFlight">Save Flight</button>
      </td>
    </tr>
	
	<tr v-for="flight in allflights">
			<td colspan="12"><button class="btn btn-danger btn-sm float-right delete" @click="deleteFlight(flight)">X</button>

		  {{flight}}</td>
		</tr>
	


	<!--
    <tr class="total">
      <td colspan="3"></td>
      <td>Total: ${{ total | currency }}</td>
    </tr>
	-->
	

	
  </table>
</div>
<!-- partial -->


<script>
var socket = io('/labelNamespace');

alldata = {
    items: [
      //{ city_departure: "", airport_departure: "", time_departure: "", city_arrival: "", airport_arrival: "", time_arrival: "" },
	  { city_departure: "Bologna", airport_departure: "BLQ", time_departure: "1670606640000", city_arrival: "Munich", airport_arrival: "MUN", time_arrival: "1670661660000" },
    ],
	allflights: [],
  }

const app = new Vue({
  el: "table",
  data: alldata,
  created() {
  socket.on('flights', function(data) {
	alldata.allflights.push('aaa');
	var tmpflights = data.split(/\r?\n/);
	//alldata.flights.push(flights)
	console.log('pushed')
	for (let i = 0; i < tmpflights.length; i++) {
		console.log('++ ' + tmpflights[i]);
	}
	alldata.allflights = tmpflights;
	//console.log(this.allflights);
  });
  },
  computed: {
    total() {
      return this.items.reduce(
        (acc, item) => acc + item.price * item.quantity,
        0
      );
    }
  },
  methods: {
    addRow() {
      this.items.push({ city_departure: "", airport_departure: "", time_departure: "", city_arrival: "", airport_arrival: "", time_arrival: "" });
	},
	
    removeRow() {
      this.items.pop();
    },
	
	saveFlight() {
		if(this.items.length > 0) {
			socket.emit('newFlight', this.items);
			this.items = [];
			window.location.href="/flightcreator";
		}
		else
			console.log('please insert a valid flight');
	},
	
	deleteFlight(flight) {
		console.log(alldata.allflights.indexOf(flight));
		socket.emit('deleteFlight', alldata.allflights.indexOf(flight));
		window.location.href="/flightcreator";
	},
	 
	gotoFlights() {
	 window.location.href="./";
	}
	
  },
  filters: {
    currency(value) {
      return value.toFixed(2);
    }
  }
});
</script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

</body>
</html>
